<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posttest" method="POST">
        <!--POST방식으로  서버에 /register로 FORM 내용 전달-->
        <div class="signupdiv">
            <label>아이디</label>
            <input class="form-control" type="text" name="ID"/>
            <button class="ml-1" type="button" @click="fetchData">중복확인</button><!--v-on:click인지 onClick인지 선택-->
            <!--로직
            중복확인 버튼 클릭 -> ID input 태그 내용을 ajax를 이용해 서버로 전달 시키고 json 형식으로 응답을 받고, 받은 응답을 이용해 alert 줌
            -->
            <label>비밀번호</label>
            <input class="form-control" type="password" name="Password"/>
            <div></div>
            <label>비밀번호 확인</label>
            <input class="form-control" type="password" name="ConfirmPassword"/>
            <div></div>
            <div></div> <!--빈공간 채우기용-->
            <button type="submit" class="mt-2 btn btn-primary">계정 생성</button>
        </div>
    </form>
    
</body>
</html>